# Windows thumbnail cache files 
Thumbs.db 
ehthumbs.db 
ehthumbs_vista.db 
 
# Folder config file 
[Dd]esktop.ini 
 
# Recycle Bin used on file shares 
$RECYCLE.BIN/ 
 
# Windows Installer files 
*.cab 
*.msi 
*.msix 
*.msm 
*.msp 
 
# Windows shortcuts 
*.lnk 
 
# Temporary Office files 
~$*.doc* 
~$*.xls* 
~$*.ppt* 
 
# Executable files 
*.exe 
*.com 
*.bat 
!upload_to_git.bat

VDT/
VOAI/

Học sâu/Latex/
Học sâu/Đề Thi/
Học sâu/Ôn tập/

Xử lí và phân tích hình ảnh/BTVN/
Xử lí và phân tích hình ảnh/books/
Xử lí và phân tích hình ảnh/Ôn/
Xử lí và phân tích hình ảnh/Ôn tập/

Xử lí và phân tích hình ảnh/13 tuần slides
Xử lí và phân tích hình ảnh/slides/phần 1/week10/week10 - color image processing.pptx
