# Windows thumbnail cache files 
Thumbs.db 
ehthumbs.db 
ehthumbs_vista.db 
 
# Folder config file 
[Dd]esktop.ini 
 
# Recycle Bin used on file shares 
$RECYCLE.BIN/ 
 
# Windows Installer files 
*.cab 
*.msi 
*.msix 
*.msm 
*.msp 
 
# Windows shortcuts 
*.lnk 
 
# Temporary Office files 
~$*.doc* 
~$*.xls* 
~$*.ppt* 
 
# Executable files 
*.exe 
*.com 
*.bat 
!upload_to_git.bat 
